@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Baskerville";
  src: url("/public/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins/Poppins-Regular.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BaskervilleItalic";
  src: url("/public/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: rgba(215, 213, 213, 0.703);
}

.dark body {
  @apply bg-gray-800 text-white transition-colors duration-1000;
}
